<?xml version="1.0" encoding="UTF-8"?>
<tileset version="1.2" tiledversion="1.2.5" name="{TILESET_NAME}" tilewidth="{TILESET_WIDTH}" tileheight="{TILESET_HEIGHT}" tilecount="{TILESET_COUNT}" columns="0">
 <grid orientation="orthogonal" width="1" height="1"/>
{ITEMS}
</tileset>
